* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 18px;
    line-height: 1.5;
    color: rgb(75, 75, 75);
    background-color: rgb(209, 208, 253);
    overflow: auto;
}

.header {
    height: 70px;
    align-items: center;
    background-color: rgb(96, 105, 190);
}

.main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 10%;
    flex-grow: 1;
}

.footer {
    display: flex;
    padding: 10px 30px;
    height: 70px;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(75, 75, 75);
    color: white
}

.nav {
    height: 100%;
    padding: 0 50px;
}

.nav-list {
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    font-size: 18px;
}

.nav-link {
    padding: 0 20px;
    line-height: 40px;
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.nav-link:hover {
    text-decoration: underline;
    color: rgb(42, 179, 15) 
}

.section {
    width: calc(50% - 10px);
    display: flex;
    padding: 10px 10px 20px;
    flex-direction: column;
    border-bottom: 1px solid rgb(8, 4, 22);
}

.main-section {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    border-bottom: 15px solid rgb(66, 102, 150); 
}

.last-section {
    border: none
}

.education-section {
    border: none    
}

.section-title {
    font-family: Roboto;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: rgb(44, 44, 44);
}

.name {
    display: flex;
    font-size: 30px;
    letter-spacing: 5px;
}

.my_photo {
    height: 240px;
    width: 240px;
    padding: 10px;
    background: rgb(75, 75, 75);
    border-radius: 50%;
}

.span {
    font-weight: 600;
}

.list {
    padding-left: 40px;
}

.link {
    text-decoration: none;
    color:rgb(102, 50, 50)    
}

.link:hover {
    text-decoration: underline;
    color:rgb(136, 66, 155);
}

.link:visited {
    color:rgb(136, 66, 155);
}    

.rss {
    height: 40px;
    width: 108px;
    background-image: url(./assets/img/rs_school.svg);
    background-size: contain;
    background-repeat: no-repeat;
}

.github {
    position: relative;
    top: 20px;
    text-decoration: none;
    color: white
}

.github:hover {
    text-decoration: underline;
    color: rgb(167, 145, 145)     
}

@media (max-width: 768px) {
    .section {
        width: 100%;
    }

    .main-section {
        flex-direction: column;
        align-items: center
    }

    .education-section {
        border-bottom: 1px solid rgb(130, 130, 130);    
    }

    .nav-list {
        position: static;
        width: 100%;
    }

}

@media (max-width: 880px) {
    .nav-list {
        font-size: 14px;
    }
}